[build]
builder = "DOCKERFILE"
dockerfilePath = "./Dockerfile"

[deploy]
healthcheckPath = "/swagger"
healthcheckTimeout = 120

[[services]]
name = "web"

[services.env]
ASPNETCORE_ENVIRONMENT = "Production"